*{
    font-family: "Poppins", sans-serif;
}
img{
    width: 220px;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;


}
div>nav a{
    margin-right: 39px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
button{
    background-color: rgb(176, 230, 14);
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    
}

#container{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: 100%;
    height: 900px;
    background-color: rgb(232, 238, 255);
    margin-top: 20px;

    
}
.box{
    background-color: rgb(232, 238, 255);
    border: 1px solid #e0e0e0;
    transition: all 300ms ease;
    
}
.box:hover{
    background-color: rgb(231, 228, 228);
}
#text-container{
position: absolute;
top: 150px;
left: 250px;
text-align: left;
}

#text-container h1{
font-size: 69px;
font-weight: 800;
margin-bottom: 10px;

}
#text-container h2{
font-size: 69px;
font-weight: 700;
margin-bottom: 40px;
margin-top: 0;

}
#text-container p{
font-size: 24px;
line-height: 1.5;
color: rgb(73, 75, 87);
font-weight: 600;

}